<!--[START] HERO [+]-->
<section class="home-hero">
  <!-- Call 2 Action -->
  <div class="home-cta">
    <span class="cta-title">Create free account</span>
    <h1>BECOME THE SMARTEST PERSON IN THE ROOM</h1>
    <p>The best way to become master in your field.</p>
    <form class="" action="/icons" method="get">
      <input type="text" name="location" placeholder="Search by Location" id="icon_location">
      <button type="submit" name="button">Search</button>
    </form>
    <span class="terms">By sharing your email, you agree to our Terms of Service and Privacy Policy.</span>
  </div>
  <!-- [-] Call 2 Action -->
  <div class="home-slider">
    <div class="inner">
      <ul> <!-- THE SLIDER -->
        <!-- [+] ITEM -->


<!--          <% @icons.each do |icon| %>
      <% if icon.photo.attached? %>
       <li style="background:url(<%=cl_image_path(icon.photo.key) %>)">
          <% else %>
  <img src="https://phantom-marca.unidadeditorial.es/6325b621b1ec481729f0865211d0ed3f/resize/1320/f/jpg/assets/multimedia/imagenes/2020/11/25/16062940399517.jpg" alt="">
  <% end %>
      <li style="background:url('https://www.masterclass.com/course-images/attachments/PM3N5CPL1AhDizCfJSFhsZUi?width=300&height=533&fit=cover&dpr=2');">
       <div class="hs-inner">
          <div class="title">
            <p class = "shadow"><strong><%= icon.name %></strong></p>
            <p class = "shadow"><%= icon.description %></p>
          </div>
          <button class="button" type="button" name="button"><%= link_to "Book", icon_path(icon) %></button>
        </div>
      </li>
      <% end %> -->


        <li class="hs-item" style="background:url(<%=cl_image_path(@barack.photo.key) %>)">
          <div class="hs-inner">
            <div class="title">
              <p class= "shadow"><strong><%= @barack.name %></strong></p>
              <p class= "shadow"><%= @barack.description %></p>
            </div>
            <button class="button" type="button" name="button"><%= link_to "Book", icon_path(@barack) %></button>
          </div>
        </li>


        <li class="hs-item" style="background:url(<%=cl_image_path(@socrates.photo.key) %>)">
          <div class="hs-inner">
            <div class="title">
              <p class= "shadow"><strong><%= @socrates.name %></strong></p>
              <p class= "shadow"><%= @socrates.description %></p>
            </div>
            <button class="button" type="button" name="button"><%= link_to "Book", icon_path(@socrates) %></button>
          </div>
        </li>


        <li class="hs-item" style="background:url(<%=cl_image_path(@rihanna.photo.key) %>)">
          <div class="hs-inner">
            <div class="title">
              <p class= "shadow"><strong><%= @rihanna.name %></strong></p>
              <p class= "shadow"><%= @rihanna.description %></p>
            </div>
            <button class="button" type="button" name="button"><%= link_to "Book", icon_path(@rihanna) %></button>
          </div>
        </li>



      </ul> <!-- END SLIDER -->
    </div>
  </div>
</section>
<!--[END] HERO [-]-->
<!-- [START] REVIEW -->
<section class="home-review">
  <div class="inner">
    <p>
      “I've learned a positively immeasurable amount of things from Timbaland and Natalie Portman.
      It gave me this sense of possibility. Like I can actually do it. I can get a Billboard hit
      single, and it's not that far away.”
    </p>
  </div>
</section>
<!-- [END] REVIEW -->
<!--[START] WRAP [+]-->
<section class="wrap home-wrap">
<!-- [START] CATEGORY [+] -->
<div class="home-category">
  <div class="inner">
    <div class="category-header">
      <!-- [+] CATEGORY TITLE & STUFF -->
        <div class="left">
          <h2>Discover Category</h2>
          <p>Pick any topics that you are interested in.</p>
        </div>
        <div class="right">
          <a class="a-btn" href="#">DISCOVER MORE</a>
        </div>
      <!-- [-] CATEGORY TITLE & STUFF -->
    </div>
    <div class="category-body">
      <!-- [START] CATEGORY SLIDER [+] -->
          <ul class="category-slider">
            <!-- [+] ITEM -->
            <li class="item">
              <div class="inner">
                <span class="details">8 Mentors</span>
                <h3>Cook The Pleasure</h3>
              </div>
            </li>
            <!-- [-] ITEM -->
          </ul>
        <!-- [END] CATEGORY SLIDER [-] -->
    </div>
  </div>
</div>
<!-- [END] CATEGORY [-] -->
</section>
<!--[END] WRAP [-]-->
<!-- [START] FOOTER -->
<footer class="main-footer">
<div class="iner">

</div>
</footer>
<!-- [END] FOOTER -->
