<div class = "sidebar-content">
  <div class = "profile-pic">
    <ul class = "menu-nav">
      <li class = "menu-item">
        <div class = "menu-title">
        <span class = "icon icon-dashboard-sidebar icon-calendar"></span>
        <strong>Sessions</strong>
        </div>
          <ul class="menu-nav sub-menu">
            <li class = "menu-item"><button class="link">My Bookings</li>
            <li class = "menu-item"><button class="link2">My Calendar</li>
          </ul>
      </li>
    </ul>
    <ul class = "menu-nav">
      <li class = "menu-item">
        <div class = "menu-title">
        <span class = "icon icon-dashboard-sidebar icon-savings"></span>
        <strong>Icons</strong>
        </div>
          <ul class="menu-nav sub-menu">
            <li class = "menu-item"><button class="link4">My Icons</li>
            <li class = "menu-item"><%= link_to "Add New Icon", new_icon_path %></button></li>
            <li class = "menu-item"><button class="link6">My Icon's bookings</li>
            <li class = "menu-item"><button class="link7">My Icon's calendar</li>
          </ul>
      </li>
    </ul>
  </div>
</div>

<div class = "wrapthat">
  <% @bookings.each do |booking| %>
    <div class = "session-list">
      <div class = "solo-wrapper">
        <div class = "hello">
          <div class = "headerh1">You have a session with <em><%=booking.icon.name%></em>
            on <%= booking.start_day%>
            <%= booking.start_time.strftime("at %I:%M%p")%>
            finishing <%= booking.end_time.strftime("at %I:%M%p")%>
            for a total price of $<%= booking.total_price%>
          </div>
          <div class = "card-status  <%= booking.status %>">Booking status: <%= booking.status.capitalize%></div>
        </div>
        <img class ="photoEdit" src = "<%= cl_image_path(booking.icon.photo.key) %>">
        <%=booking.icon.description%>
        </p>

        <div class = "button-cancel">
          <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete this booking?"}, class: 'cancel-button' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

 
<div class = "calendar-wrap">
  <div class="wrapper">
    <table class="simple-calendar">
      <thead>
        <tr>
        <div class="calendar__header">
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>

        </tr>
      </thead>


      <tbody>
        <% @date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <td>
                <%= day %>
                <%@bookings.select{ |b| b.start_day&.to_date == day }.sort_by(&:start_time).each do |booking| %>
                  <img class ="photoMini" src = "<%= cl_image_path(booking.icon.photo.key) %>">
                  <div class = "card">
                    <h3 class = "hello">
                    <div class ="checkthispend <%=booking.status%>">
                      <%= link_to "#{booking.status} Session with #{booking.icon.name} #{booking.start_time.strftime("at %I:%M%p")}", booking%>
                      </h3>
                    </div>
                  </div>
                <%end%>
              </td>
            <%end%>
          <tr>
        <%end%>
      </tbody>
    </table>
    </div>
     <div>
        Key
        <div class = "keycount">
          Accepted = Green
        </div>
        <div class = "keycount2">
          Declined = Red
        </div>
        <div class = "keycount3">
          Pending = Gray
      </div>
    </div>
  </div>
</div>
<!-- <div class = "icon-wrap">
  <%@icons.each do |icon| %>
    <%=icon.name%>
    <%=icon.category%>
    <%=icon.description%>
  <% end %>
</div>
-->

<div class = "icon-wrap">
  <% @icons.each do |icon| %>
    <div class = "session-list">
      <div class = "solo-wrapper">
        <div class = "hello">
          <div class = "headerh1"><em><%=icon.name%></em>
          </div>
        </div>
        <img class ="photoEdit" src = "<%= cl_image_path(icon.photo.key) %>">
        <%=icon.description%>
        </p>
        <div class = "button-cancel">
        
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class = "wrapthat2">
  <% @bookings.each do |booking| %>
    <div class = "session-list2">
      <div class = "solo-wrapper2">
        <div class = "hello2">
          <div class = "headerh12"><%=booking.icon.name%> has <%=booking.status%> session with <em><%=booking.icon.user.email%></em>
            on <%= booking.start_day%>
            <%= booking.start_time.strftime("at %I:%M%p")%>
            finishing <%= booking.end_time.strftime("at %I:%M%p")%>
            for a total price of $<%= booking.total_price%>
          </div>
          <div class = "card-status2">Booking status: <%= booking.status.capitalize%></div>
        </div>
        <!--<img class ="photoEdit" src = "<%= cl_image_path(booking.icon.photo.key) %>">-->
        </p>
        <div class = "button-cancel">
          <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to cancel this booking?"}, class: 'cancel-button' %>
          <%= link_to 'Accept', booking_path(booking, booking: {status: "accepted"}), method: :patch, data: { confirm: "Are you sure you want to cancel this booking?"}, class: 'cancel-accept' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class = "calendar-wrap">
  <div class="wrapper2">
    <table class="simple-calendar">
      <thead>
        <tr>
        <div class="calendar__header">
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>

        </tr>
      </thead>


      <tbody>
        <% @date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <td>
                <%=day%>
                <%@bookings.select{ |b| b.start_day&.to_date == day }.sort_by(&:start_time).each do |booking| %>
                  <!--<img class ="photoMini" src = "<%= cl_image_path(booking.icon.photo.key) %>">-->
                  <div class = "card">
                    <h3 class = "hello">

                    <div class ="checkthispend <%=booking.status%>">
                      <%=link_to "#{booking.status} Session with #{booking.user.email} #{booking.start_time.strftime("at %I:%M%p")}", booking%></h3>
                        <div class = "button-cancel">
                          <% if !booking.accepted? %>
                            <%= link_to 'Accept', booking_path(booking, booking: {status: "accepted"}), method: :patch, data: { confirm: "Are you sure you want to accept this booking?"}, class: 'cancel-accept' %>
                          <% end %>
                          <% if !booking.declined? %>
                            <%= link_to 'Decline', booking_path(booking, booking: {status: "declined"}), method: :patch, data: { confirm: "Are you sure you want to accept this booking?"}, class: 'cancel-accept' %>
                          <% end %>
                          <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to cancel this booking?"}, class: 'cancel-button' %>
                        </div>
                    </div>
                  </div>
                  <%end%>
              </td>
            <%end%>
          <tr>
        <%end%>
      </tbody>
    </table>
    <div>
    Key
      <div class = "keycount">
        Accepted = Green
      </div>
      <div class = "keycount2">
        Declined = Red
      </div>
      <div class = "keycount3">
        Pending = Gray
      </div>
    </div>
  </div>
</div>

