<br>
<br>
<br>
<br>
<br>
<br>
<input class="toggle" type="button" value ="Show list view">

<div class = "wrapthat">
  <% @bookings.each do |booking| %>
    <div class = "session-list">
      <div class = "solo-wrapper">
        <div class = "hello">
          <div class = "headerh1">You have a session with <em><%=booking.icon.name%></em>
            on <%= booking.start_day%>
            <%= booking.start_time.strftime("at %I:%M%p")%>
            finishing at <%= booking.end_time.strftime("at %I:%M%p")%>
            for a total price of $<%= booking.total_price%>
          </div>
          <div class = "card-status">Booking status: <%= booking.status.capitalize%></div>
        </div>
      
        <img class ="photoEdit" src = "<%= cl_image_path(booking.icon.photo.key) %>">
        </p><small class= "text-right flex-shrink-0"><%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete this booking?"}, class: 'text-danger' %></small>
      </div>
    </div>
  <% end %>
</div>

<input class="toggle2" type="button" value ="Show Calendar view">  
<div class = "calendar-wrap">
  <div class="wrapper">
    <table class="simple-calendar">
      <thead>
        <tr>
        <div class="calendar__header">
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>

        </tr>
      </thead>


      <tbody>
        <% @date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <td>
                <%=day%>
                <%@bookings.select{ |b| b.start_day&.to_date == day }.sort_by(&:start_time).each do |booking| %>
                  <div class = "card"><h3 class = "hello"><%=link_to "Session with #{booking.icon.name} #{booking.start_time.strftime("at %I:%M%p")}", booking%></h3></div>
                  <%end%>
              </td>
            <%end%>
          <tr>
        <%end%>
      </tbody>
    </table>
    </div>
  </div>
</div>


