

<!-- ICONS INDEX HTML [+] -->
<section class="index-icons-wrap">
<!-- [+] HERO -->
 <div class="icons-hero" style="background:url('https://v.fastcdn.co/u/0b1233a0/56422917-0-21Q1-UA-Instapage-De.jpg');">
   <span class="sup-title">COMING SOON</span>
   <span class="title">Adriano Chilintano</span>
</div>
<!-- [-] HERO -->
<!-- PAGE TITLE -->
<div class="index-icons-title">
<h1>Browse All Icons</h1>
</div>
<!-- [-] PAGE TITLE -->
<!-- [+] CATEGORY -->
<section class="icons-category">
<span></span>


</section>
<!-- [-] CATEGORY -->

<!-- [+] ICONS -->
<section class="icons-index-list">
<div class="list-iner">
  <div class="left-side-bar">
    <ul class="category-icons">
      <li>All classes</li>
      <li>Arts & Entertainment</li>
      <li>Food</li>
      <li>Music</li>
      <li>Business</li>
      <li>Sports & Gaming</li>
      <li>Writing</li>
      <li>Science & Tech</li>
      <li>Home & Lifestyle</li>
      <li>Community & Government</li>
    </ul>
  </div>
  <div class="right-side-bar">
    <ul class="icons-lists">
      <!-- [+] SINGLE ICON ITEM -->

      <% @icons.each do |icon| %>
      <% if icon.photo.attached? %>
       <li style="background:url(<%= cl_image_path(icon.photo.key) %>)">
          <% else %>
  <img src="https://phantom-marca.unidadeditorial.es/6325b621b1ec481729f0865211d0ed3f/resize/1320/f/jpg/assets/multimedia/imagenes/2020/11/25/16062940399517.jpg" alt="">
  <% end %>
      <!-- <li style="background:url('https://www.masterclass.com/course-images/attachments/PM3N5CPL1AhDizCfJSFhsZUi?width=300&height=533&fit=cover&dpr=2');"> -->
       <div class="hs-inner">
          <div class="title">
            <p class = "shadow"><strong><%= icon.name %></strong></p>
            <p class = "shadow"><%= icon.description %></p>
          </div>
          <button class="button" type="button" name="button"><%= link_to "Book", icon_path(icon) %></button>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
</section>
<!-- [-] ICONS -->

</section>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<!-- ICONS INDEX HTML [-] -->
