<h1>Create a new Icon</h1>
<p>

  <%= simple_form_for(@icon) do |f|%>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :category, collection: Icon::CATEGORIES %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit "Create Icon", class:"btn btn-primary" %>

  <% end %>


</p>
