<!DOCTYPE html>
<html>
  <head>
    <title>Be Iconic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http.equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/30-square-media-remote-control-buttons-black/100/Information-512.png">

    <%= stylesheet_pack_tag 'application' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/nav" %>

    <%= yield %>
<%= render "shared/footer" %>
  </body>
</html>
